<div class="container">
  <h3><%= current_user.email %>'s Profile page</h3>
    <div class="row">

      <div class="span8">
        <h3>Check Ins</h3>
          <ul class="checkins-ul">
            <% @checkins.each do |checkin| %>
            <li class="checkins-li">
              <%= checkin.name %>
            </li>
            <% end %>
          </ul>
      </div>

      <div class="span4">
      </div>

    </div>
</div>
