<nav>
  <h1 class="logo"><a href="/">findthat</a></h1>
  <% if current_user %>
  <div class="logged-in">
    <div class="logout">
      <p><a data-method="delete" href="/logout" rel="nofollow">Log Out</a></p>
    </div>
    <div class="logged-in-as">
      <p><a href="/profile">Profile</a></p>
    </div>
  </div>

  <% else %>
  <div class="not_logged_in">
    <div class="signup">
      <h3 class="signup-button">Sign Up</h3>
    </div>
    <div class="login">
      <div class="loginform"><%= render '/shared/login' %></div>
    </div>
    <div class="login">
      <h3 class="login-button">Login</h3>
    </div>
  </div>
  <% end %>
</nav>

  <% if !current_user  %>
    <div class="background">
    </div>
    <div class="signup-container">
      <div class="close-signup">X</div>


      <div class="signup">
        <h1>Sign Up</h1>
        <div class="signupform">
          <%= render '/users/form' %>
        </div>
        <div class="errors"></div>
      </div>
    </div>
  <% end %>
