<nav>
  <% if current_user %>
  <div class="logged-in">
    <div class="logout">
      <h4><a data-method="delete" href="/logout" rel="nofollow">Log Out</a></h4>
    </div>
    <div class="logged-in-as">
      <h4 class="profile-link"><a href="/profile">Profile</a></h4>
    </div>
  </div>

  <% else %>
  <div class="not_logged_in">
    <div class="signup">
      <h4 class="signup-button">Sign Up</h4>
    </div>
    <div class="login">
      <div class="loginform"><%= render '/shared/login' %></div>
    </div>
    <div class="login">
      <h4 class="login-button">Login</h4>
    </div>
  </div>
  <% end %>
</nav>

  <% if !current_user  %>
<!--     <div class="background">
    </div> -->
    <div class="signup-container">
      <div class="close-signup">X</div>


      <div class="signup">
        <h3>Sign Up</h3>
        <div class="signupform">
          <%= render '/users/form' %>
        </div>
        <div class="errors"></div>
      </div>
    </div>
  <% end %>
