<h1>Welcome#index</h1>

<form action="#" method="GET" id="searchform">
  <input type="text" name="query" id="query" value="Example: Happy Hour">
  <input type="submit" name="submit" id="submit" value="Submit">
</form>

<div id="content">
  <div id="venuewrapper">
    <div id="venues"></div>
  </div>
  <div id="mapcontainer">
    <div class="map" id="map"></div>
  </div>
</div>
