<form action="#" method="GET" id="searchform">
  <input type="text" name="query" id="query" value="Example: Happy Hour">
  <input class="search-button" type="submit" name="submit" id="submit" value="Near Me">
  <img class="loading-throbber" src="images/ajax-loader.gif" alternate="loading" style="display:none;">
</form>


<div id="content">
  <div id="venuewrapper">
    <div id="venues"></div>
  </div>
  <div id="mapcontainer">
    <div class="map" id="map"></div>
  </div>
</div>
